$primary-100: #fee8e5;
$primary-200: #fdc7bf;
$primary-300: #fc9486;
$primary-400: #fa5139;
$primary-500: #fa2607;
$primary-600: #cc1e05;
$primary-700: #b21a04;
$primary-800: #991604;
$primary-900: #801303;


$secondary-100: #ffe5f0;
$secondary-200: #ffcce2;
$secondary-300: #ff92c1;
$secondary-400: #ff4394;
$secondary-500: #ff0873;
$secondary-600: #e00061;
$secondary-700: #bd164f;
$secondary-800: #950f3e;
$secondary-900: #6d082d;


$gray-100: #fff;
$gray-200: #f7f7f7;
$gray-300: #ededed;
$gray-400: #e1e1e1;
$gray-500: #bdbdbd;
$gray-600: #999;
$gray-700: #5d5d5d;
$gray-800: #323232;
$gray-900: #000;


$warning-100: #fffde8;
$warning-200: #ffeac1;
$warning-300: #fb9;
$warning-400: #fe884e;
$warning-500: #fe5a0a;
$warning-600: #d44211;
$warning-700: #cc2d05;
$warning-800: #963403;
$warning-900: #620;


$blue-100: #e6f3ff;
$blue-200: #bfe1ff;
$blue-300: #98ceff;
$blue-400: #2297ff;
$blue-500: #007ae6;
$blue-600: #0065bf;
$blue-700: #005098;
$blue-800: #004684;
$blue-900: #192d5d;


$green-100: #eefbf3;
$green-200: #d7f0dc;
$green-300: #9bdaa6;
$green-400: #50be64;
$green-500: #22a14e;
$green-600: #1b813e;
$green-700: #14612e;
$green-800: #0d401f;
$green-900: #0a3017;


$teal-100: #e5f7f5;
$teal-200: #c3f1eb;
$teal-300: #76e6d9;
$teal-400: #44cebe;
$teal-500: #0da594;
$teal-600: #008474;
$teal-700: #007063;
$teal-800: #005c52;
$teal-900: #004940;


$space-xs: 4px;
$space-sm: 8px;
$space-md: 12px;
$space-lg: 16px;

$elev-shadow-2dp:rgba(0, 0, 0, 0.35) 0px 1px 2px 0px;